<!--herite du fichier main.html-->
{% extends 'base.html' %}
{% block main %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Portfolio Details</li>
        </ol>
        <h2>Portfolio Details</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                {% if portfolios %}
                <div class="swiper-slide">
                  <img src="{{ portfolios.image.url }}" alt="">
                </div>
                {% endif %}

<!-- 
                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/assets/img/portfolio/portfolio-3.jpg" alt="">
                </div>
                -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>
          


          {% if portfolios %}
          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: {{ portfolios.galerie }}</li>
                <li><strong>Client</strong>: RESEAUTIC</li>
                <li><strong>Project date</strong>{{ portfolios.date }}</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>{{ portfolios.title }}</h2>
              <p>
                {{ portfolios.description }}
              </p>
            </div>
          </div>
          {% endif %}

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock main %}
